/* Variables Colors */
:root {
  --black: #202020;
  --dark-grey: #3F3F3F;
  --grey: #707070;
  --light-grey: #d3d3d3;
  --accent-yellow: #FFDF6C;
  --white: #FFFFFF;

}

/* Globals */
header {
  background-color: var(--dark-grey);
  font-size: 36px;
  color: var(--white);
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 16px;
}

html, body {
  background-color: var(--white);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: var(--black);
}

input[type=text], input[type=number] {
  border: none;
  border-bottom: 1px solid var(--black);
  font-size: 20px;
}

input[type=text]:focus {
  outline: none;
}

input[type=number] {
  width: 40%;
}

button {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

main {
  margin: 16px;
}

/* General */
.drag-indicator {
  cursor: move;
}

/* Header/Nav Items */

.vb {
  width: 2px;
  height: 50px;
  background-color: var(--accent-yellow);
  margin: 0 16px 0 16px;
}

.nav-buttons {
  background-color: inherit;
  font-size: 24px;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  color: var(--white);
  margin: 8px;
}

.nav-buttons:hover {
  color: var(--accent-yellow);
}

.nav-active {
  color: var(--accent-yellow);
}

/* Settings */

.settings-dances {
  display: flex;
  height: 500px;
}

/* Dance Tables */

.dance-table {
  width: 40vw;
  min-width: 600px;
  height: 75%;
  margin: 8px;
}

.dance-card-table-content {
  overflow-y: auto;
  height: 100%;
}

.dance-card-header {
  font-weight: 700;
}

.dance-card {
  display: grid;
  grid-template-columns: 2% 5% auto 25% 25%;
  align-items: end;
  border: 1px solid var(--grey);
  margin: 8px 0 8px 0;
  padding: 8px;
  justify-items: center;
}

.add-dance {
  width: 100%;
}

/* Dance Groups */
.dance-groups {
  max-width: 60vw;
  display: flex;
  margin: 8px;
  overflow-x: auto;
}

.add-dance-group {
  min-width: 200px;
  height: calc(100% - 32px);
  margin: 8px;
}

.dance-group-card {
  margin: 8px;
  width: 250px;
  min-width: 250px;
  height: calc(100% - 32px);
  border: 1px solid var(--grey);
}

.dance-group-title {
  width: 100%;
  margin: 8px 0 8px 0;
  padding-left: 8px;
}

.dance-group-item-title{
  display: flex;
  justify-content: start;
  align-items: center;
}
.dance-group-item-helper {
  height: 5px;
  background-color: var(--accent-yellow);
}

.dance-group-item {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button-dance-group {
  position: relative;
  top: -35px;
  left: 216;
}

.icon-button {
  background: none;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  display: flex;
  justify-content: middle;
  align-items: center;
  margin-right: 8px;
  margin-left: 8px;
}

.icon-button:hover {
  background-color: var(--light-grey);
}

/* Dancer Tables */

.dancer-table {
  height: 75%;
  margin: 8px;
}

.dancer-card-table-content {
  overflow-y: auto;
  height: 100%;
}

.dancer-card-header {
  font-weight: 700;
}

.dancer-card {
  display: grid;
  grid-template-columns: 10% 60% auto 25px 25px;
  align-items: end;
  border: 1px solid var(--grey);
  margin: 8px 0 8px 0;
  padding: 8px;
  justify-items: center;
}

.dancer-name {
  width: 100%
}

.add-dancer {
  width: 100%;
}

.dancer-bib {
  width: 3.5ch;
}
/* End Event */
